footer {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    max-width: 80%;
    margin: 0 auto;
}

footer .name {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

footer > .name > p {
    text-align: center;
}

footer ul {
    gap: 1rem;
    display: flex;

    :hover {
        opacity: 70%;
        cursor: pointer;
    }
}

.btn-container {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.btn-container button {
    color: white;
    background-color: black;
    border: none;
    padding: 0.8rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
}

.links > ul {
    display: flex;
    flex-wrap: wrap;
}
