.skill-container {
    display: flex;
    align-items: center;
    padding: 6rem;
    flex-direction: column;
    /* background-color: black; */
    margin-bottom: 5.5rem;
}

.skill-container > ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    gap: 2rem;
    justify-content: center;
}

.skill-container > ul > li {
    display: flex;
    border: 2px black solid;
    border-radius: 30px;
    padding: 0 1rem;
    align-items: center;
    gap: 0.2rem;
}

.skill-container > ul > li > img {
    aspect-ratio: 1/1;
    width: 30px;
}
