.end-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    padding: 2rem;
}

.end-1 {
    text-align: center;
    margin: -3px;
    text-decoration-line: none;
}

.end-2 {
    color: var(--gray);
    text-align: center;
    margin: -3px;
    text-decoration-line: none;
    width: fit-content;
}

.end-2:hover {
    opacity: 70%;
    cursor: pointer;
}
